<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="kotlinMetaModel.ui.GenerateKtFileHandler"
            commandId="KotlinMetaModel.ui.generateKtFile">
      </handler>
      <handler
            class="kotlinMetaModel.ui.ExecuteKtFileHandler"
            commandId="KotlinMetaModel.ui.executeKtFile">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Kotlin Model">
            <separator
                  name="KotlinMetaModel.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="KotlinMetaModel.ui.generateKtFile"
                  label="Generate .kt File"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="kotlinMetaModel.KotlinProgram">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="KotlinMetaModel.ui.executeKtFile"
                  label="Execute .kt File"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.kt">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="KotlinMetaModel.ui.separator2"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="KotlinMetaModel.ui.generateKtFile"
            name="name">
      </command>
   </extension>

</plugin>
