<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated kotlinMetaModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="kotlinMetaModel.presentation.KotlinMetaModelModelWizardID"
            name="%_UI_KotlinMetaModelModelWizard_label"
            class="kotlinMetaModel.presentation.KotlinMetaModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/KotlinMetaModelModelFile.gif">
         <description>%_UI_KotlinMetaModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated kotlinMetaModel -->
      <editor
            id="kotlinMetaModel.presentation.KotlinMetaModelEditorID"
            name="%_UI_KotlinMetaModelEditor_label"
            icon="icons/full/obj16/KotlinMetaModelModelFile.gif"
            extensions="kotlinmetamodel"
            class="kotlinMetaModel.presentation.KotlinMetaModelEditor"
            contributorClass="kotlinMetaModel.presentation.KotlinMetaModelActionBarContributor">
      </editor>
   </extension>
</plugin>
